@using OA.Domin.DSA
@page "/PersonTypes/List"
@inherits PersonTypesListBase
@attribute [Authorize(Policy = "people-control")]

@if (ListData == null)
{
    <Loading></Loading>
}
else
{
    <div style="position:relative" class="mb-4">

        <div class="page-title filter-title"> @Localizer["Person Types"] </div>

        <GridFilter T="PersonType" SearchSubmit="SearchEvent" @ref="GridFilterRef"></GridFilter>

        <div class="filter-link">
            <IconBtn ClassList="btn btn-outline btn-rounded btn-sm px-2" IconClassList="fas fa-plus" ClickCallBack='@(() => NavigationManager.NavigateTo("/PersonType/Create") )'></IconBtn>
        </div>

        <div class="export-links">
            <IconBtn ClassList="btn btn-outline btn-rounded btn-sm px-2" IconClassList="far fa-file-excel i-lg" ClickCallBack="@(() => Export("Exel", nameof(PersonType)))"></IconBtn>
            <IconBtn ClassList="btn btn-outline btn-rounded btn-sm px-2" IconClassList="far fa-file-pdf i-lg" ClickCallBack="@(() => Export("Pdf", nameof(PersonType)))"></IconBtn>
            @if (ExportBusy)
            {<MiniLoading size="25px"></MiniLoading>}
        </div>

    </div>

    if (GetBusy)
    {
        <Loading></Loading>
    }
    else
    {
        <Grid Items="ListData">
            <GridHeader>
                <th> @Localizer["PType"] </th>
                <th> @Localizer["Person"] </th>
                <th> @Localizer["Start Date"] </th>
                <th> @Localizer["End Date"] </th>
                <th> @Localizer["Active"]</th>
                <th> @Localizer["Description"] </th>
                <th> @Localizer["Options"] </th>
            </GridHeader>
            <GridRow>
                <td> <span> @Localizer["PType"] </span> @context.PType.Name</td>
                <td> <span> @Localizer["Person"] </span> @context.Person.Name</td>
                <td> <span> @Localizer["Start Date"] </span> @context.StartDate</td>
                <td> <span> @Localizer["End Date"] </span> @context.EndDate</td>
                <td> <span> @Localizer["Active"] </span> <CheckMark Checked="context.IsActive" /> </td>
                <td> <span> @Localizer["Description"] </span> @context.Description </td>
                <td>
                    <GridRowOptions EditEvent="@(() => NavigationManager.NavigateTo($"/PersonType/Edit/{context.Id}"))"
                                    DeleteEvent="@(() => DeleteItem(context.Id) )">
                    </GridRowOptions>
                </td>
            </GridRow>
        </Grid>

        <Pagination PagingData="PagingMetaData" SelectedPage="SelectedPageEvent" Spread="2"></Pagination>
    }
}

<Confirm ConfirmationChanged="ConfirmationEvent" @ref="Confirmation" ConfirmTxt="Confirm" Title="Confirm Delete"> </Confirm>

