@using OA.Domin.DSA.Indexes


<div class="form-group row">
    <div class="col-sm-6">
        <MInputText @bind-Value="Nationality.Name" For="@(() => Nationality.Name)" Id="Name" EntityType="typeof(Nationality)" PropName="Name" Active="@Active" />
    </div>
    <div class="col-sm-6">
        <MInputText @bind-Value="Nationality.Name_En" For="@(() => Nationality.Name_En)" Id="Name_En" EntityType="typeof(Nationality)" PropName="Name_En" Active="@Active" />
    </div>
</div>

<div class="form-group row">
    <div class="col-sm-6">
        <MInputText @bind-Value="Nationality.Code" For="@(() => Nationality.Code)" Id="Code" EntityType="typeof(Nationality)" PropName="Code" Active="@Active" />
    </div>
    <div class="col-sm-6">
    <MInputText @bind-Value="Nationality.PhoneCode" For="@(() => Nationality.PhoneCode)" Id="PhoneCode" EntityType="typeof(Nationality)" PropName="PhoneCode" Active="@Active" />
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-12">
        <MInputText @bind-Value="Nationality.Description" For="@(() => Nationality.Description)" Id="Description" EntityType="typeof(Nationality)" PropName="Description" Active="@Active" />
    </div>
  
</div>