@using OA.Domin.DSA;

<div class="form-group row">
    <div class="col-sm-6">
        <MInputText @bind-Value="EventTranslation.Name" For="@(() => EventTranslation.Name)" Id="Name" EntityType="typeof(EventTranslation)" PropName="Name" Active="@Active" />
    </div>
    <div class="col-sm-6 select-col">
        <MInputSelect @bind-Value="EventTranslation.LanguageId" For="@(() => EventTranslation.LanguageId)" Items="LanguageItems" Id="LanguageId" EntityType="typeof(EventTranslation)" PropName="LanguageId" />
    </div>
</div>
<div class="form-group row">
  ID
    <div class="col-sm-6 select-col">
        <MInputSelect @bind-Value="EventTranslation.EventId" For="@(() => EventTranslation.EventId)" Items="EventItems" Id="EventId" EntityType="typeof(EventTranslation)" PropName="EventId" />
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-12">
        <MInputText @bind-Value="EventTranslation.Description" For="@(() => EventTranslation.Description)" Id="Description" EntityType="typeof(EventTranslation)" PropName="Description" Active="@Active" />
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-12">
        <CheckBoxBtn Checked="EventTranslation.IsActive" Text="Active" OnChange="@((bool value) => EventTranslation.IsActive = value)" />
    </div>
</div>
