@using OA.Domin.DSA
@using OA.Domin.Settings
@using OA.WASM.Pages.DSA.People
@using OA.Domin.DSA.ViewModels


<CollapseContainer Title="Responsible Person">
    <PersonForm Person="AdministrationBoard.Person" IsEdit="IsEdit" />
</CollapseContainer>
<div class="form-group row">

    <div class="col-sm-3">
        <MInputDate Type="date" @bind-Value="AdministrationBoard.ElectoralCycle" For="@(() => AdministrationBoard.ElectoralCycle)" Id="ElectoralCycle" EntityType="typeof(AdministrationBoard)" PropName="ElectoralCycle" />
    </div>
    <div class="col-sm-3">
        <MInputText @bind-Value="AdministrationBoard.Job" For="@(() => AdministrationBoard.Job)" Id="Job" EntityType="typeof(AdministrationBoard)" PropName="Job" Active="@Active" />
    </div>
    <div class="col-sm-3">
        <MInputText @bind-Value="AdministrationBoard.Position" For="@(() => AdministrationBoard.Position)" Id="Position" EntityType="typeof(AdministrationBoard)" PropName="Position" Active="@Active" />
    </div>
    @*<div class="col-sm-3">
        <MInputSelect @bind-Value="AdministrationBoardVM.PTypeName" For="@(() => AdministrationBoardVM.PTypeName)" Id="PTypeName" EntityType="typeof(AdministrationBoardVM)" Items="PtypeItems"  PropName="PTypeName"  />
    </div>*@
</div>







