@using OA.Domin.DSA
@page "/People/List"
@inherits PeopleListBase
@attribute [Authorize(Policy = "people-control")]

@if (ListData == null)
{
    <Loading></Loading>
}
else
{
    <div style="position:relative" class="mb-4">

        <div class="page-title filter-title"> @Localizer["People"] </div>

        <GridFilter T="Person" SearchSubmit="SearchEvent" GetIndexData="GetIndexDataEvent" @ref="GridFilterRef"></GridFilter>

        <div class="filter-link">
            <IconBtn ClassList="btn btn-outline btn-rounded btn-sm px-2" IconClassList="fas fa-plus" ClickCallBack='@(() => NavigationManager.NavigateTo("/Person/Create") )'></IconBtn>
        </div>

        <div class="export-links">
            <IconBtn ClassList="btn btn-outline btn-rounded btn-sm px-2" IconClassList="far fa-file-excel i-lg" ClickCallBack="@(() => Export("Exel", nameof(Person)))"></IconBtn>
            <IconBtn ClassList="btn btn-outline btn-rounded btn-sm px-2" IconClassList="far fa-file-pdf i-lg" ClickCallBack="@(() => Export("Pdf", nameof(Person)))"></IconBtn>
            @if (ExportBusy)
            {<MiniLoading size="25px"></MiniLoading>}
        </div>

    </div>

    if (GetBusy)
    {
        <Loading></Loading>
    }
    else
    {
        <Grid Items="ListData">
            <GridHeader>
                <th> @Localizer["Name/Ar"] </th>
                <th> @Localizer["Name/En"]</th>
                @*<th> @Localizer["Date OfBirth"]</th>*@
                <th> @Localizer["Nationality"]</th>
                @*<th> @Localizer["Gender"]</th>*@
                <th> @Localizer["Passpor Number"]</th>
                <th> @Localizer["Passpor EndDate"]</th>
                <th> @Localizer["Identification Number"]</th>
                <th> @Localizer["Employer"]</th>
                @*<th> @Localizer["Fax"]</th>
                <th> @Localizer["Email"]</th>
                <th> @Localizer["Qualification"]</th>
                <th> @Localizer["City"]</th>*@
                <th> @Localizer["Address"]</th>
                @*<th> @Localizer["Phone Number"]</th>
                <th> @Localizer["Description"]</th>*@
                <th> @Localizer["Attachments"]</th>
                <th> @Localizer["Options"] </th>
            </GridHeader>
            <GridRow>
                <td> <span> @Localizer["Name"] </span> @context.Name</td>
                <td> <span> @Localizer["Name_En"] </span> @context.Name_En</td>
                @*<td> <span> @Localizer["DateOfBirth"] </span> @context.DateOfBirth</td>*@
                <td> <span> @Localizer["Nationality"] </span> @context.Nationality?.Name</td>
                @*<td> <span> @Localizer["Gender"] </span> @context.Gender</td>*@
                <td> <span> @Localizer["PassporNumber"] </span> @context.PassporNumber</td>
                <td> <span> @Localizer["PassporEndDate"] </span> @context.PassporEndDate.ToShortDateString()</td>
                <td> <span> @Localizer["IdentificationNumber"] </span> @context.IdentificationNumber</td>
                <td> <span> @Localizer["Employer"] </span> @context.Employer</td>
                @*<td> <span> @Localizer["Fax"] </span> @context.Fax</td>
        <td> <span> @Localizer["Email"] </span> @context.Email</td>
        <td> <span> @Localizer["Qualification"] </span> @context.Qualification</td>
        <td> <span> @Localizer["City"] </span> @context.City</td>*@
                <td> <span> @Localizer["Address"] </span> @context.Address</td>
                @*<td> <span> @Localizer["PhoneNumber"] </span> @context.PhoneNumber</td>
        <td> <span> @Localizer["Description"] </span> @context.Description</td>*@
                <td>
                    <span> @Localizer["Attachments"] </span>
                    <IconBtn ClassList="btn btn-outline btn-rounded btn-sm px-2" IconClassList="fa fa-paperclip" ClickCallBack="@(() => NavigationManager.NavigateTo($"/ItemAttachments/{nameof(Person)}/{context.Id}"))"></IconBtn>
                </td>
                <td>
                    <GridRowOptions EditEvent="@(() => NavigationManager.NavigateTo($"/Person/Edit/{context.Id}"))"
                                    DeleteEvent="@(() => DeleteItem(context.Id) )"
                                    DetailsEvent="@(() => NavigationManager.NavigateTo($"Person/Details/{context.Id}"))">
                    </GridRowOptions>
                </td>
            </GridRow>
        </Grid>

        <Pagination PagingData="PagingMetaData" SelectedPage="SelectedPageEvent" Spread="2"></Pagination>
    }
}

<Confirm ConfirmationChanged="ConfirmationEvent" @ref="Confirmation" ConfirmTxt="Confirm" Title="Confirm Delete"> </Confirm>


